* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
    background: #fcfdfd;
    /*background-image: url("https://images.unsplash.com/photo-1463058837219-41e13a132b7d?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=");*/
    font-family: 'Open Sans', 'Roboto', 'Ubuntu', sans-serif;
    font-size: 16px;
}

.loginForm {
    width: 340px;
    height: 340px;
    border-radius: 5px;
    margin: 120px auto;
    font-size: 15px;
    background: #ececec;
}

form {
    padding: 30px;
}

.text-center {
    font-weight: 300;
    line-height: 1.2;
    text-align: center!important;
    margin-bottom: 10px;
}

.input-control {
    min-height: 24px;
    width: 100%;
    margin: 10px;
}

.fields {
    padding-top: 75px;
}

.submit-btn {
    min-height: 24px;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
}

.error {
    color: red;
}