<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/chat.css">
    <title>Chat</title>
</head>
<body>
<section class="mainApp">
    <div class="leftPanel">
        <header>
            <button class="trigger">
                <svg viewBox="0 0 24 24">
                    <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
                </svg>
            </button>
        </header>
        <div class="chats">
            <div class="chatButton" onclick="startChat(this)">
                <div class="chatInfo">
                    <div class="image">

                    </div>

                    <p class="name">
                        General chat
                    </p>

                    <p class="message">Start chatting with all users</p>
                </div>
            </div>
            <!-- DISPLAY ALL ONLINE USERS-->
            {{ range $name := . }}
                <div class="chatButton" onclick="startChat(this)">
                    <div class="chatInfo">
                        <div class="image">

                        </div>

                        <p class="name">
                            {{ $name }}
                        </p>

                        <p class="message"></p>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>

    <div class="rightPanel">
        <div class="topBar">
            <div class="rightSide">
            </div>

            <div class="leftSide">
                <p class="chatName">General chat</p>
            </div>
        </div>

        <div class="convHistory userBg">
            <!-- CONVERSATION GOES HERE! -->

            <div class="msg messageReceived">
                <span class="userName">rdnply</span>
                Hi, you can send a message to any user in the left panel, just click on it to start a conversation.
            </div>

            <div class="msg messageSent">
                OK.
            </div>

            <div class="msg messageReceived">
                <span class="userName">rdnply</span>
                You can also open this application in another browser tab and create a new user for testing.
            </div>
        </div>

        <div class="replyBar">
            <form onsubmit="sendMessage(event);">
                <input type="text" class="replyMessage" placeholder="Type your message..."/>
            </form>
        </div>
    </div>
</section>

<script src="/static/js/main.js"></script>
<script>
    window.onload = function () {
        if (window["WebSocket"]) {
            userLogin = getLoginFromParams();
            WSConn = new WebSocket("ws://localhost:5000/ws?login=" + userLogin);

            WSConn.onopen = function () {
                console.log("Websocket connection is opened");
            };

            WSConn.onclose = function (evt) {
                console.log("Websocket connection is closed");
            };

            WSConn.onmessage = function (evt) {
                var msg = JSON.parse(evt.data);
                if (msg.login !== undefined) {
                    addChatButton(msg)
                } else if (msg.from !== undefined) {
                    var dest = getDestination();
                    // add received message if
                    // current chat is general chat and message send to general chat
                    // or current chat with the user from which the message came
                    if ((dest === "" && msg.to === "") || (msg.from === dest)) {
                        addReceivedMessage(msg);
                    }
                }
            };
        } else {
            console.log("Your browser can't use websocket");
        }
    };
</script>

</body>
</html>