<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form id="form" action="/login" method="post">
    <div>
        {{ with .Error }}
            <p class="error">{{ . }}</p>
        {{ end }}
        <label for="fname">Login:</label><br>
        <input type="text" id="login" name="login" value="{{ .Login }}"><br>
        <input type="submit" value="Submit">
    </div>
</form>

<style type="text/css">
    .error {
        color: red;
    }
</style>
</body>
</html>